html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background: #1c1d27;
}

a {
    color: #405aff;
    text-decoration: none;
    font: normal normal 12px/14px "Work Sans", sans-serif;
}

.clearfix:after {
    height: 0;
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

#main_container {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.control_bar {
    padding: 10px;
    background: #272936;
}

.control_bar a {
    padding: 6px 8px;
}

.ghost_button {
    border: 0;
    border-radius: 4px;
    color: #aeb0be;
    background: transparent;
    padding: 0;
    margin: 0 2px;
    padding: 6px 12px;
    font: normal normal 12px/14px "Work Sans", sans-serif;
}

.ghost_button:hover {
    background: #343545;
}

.fill_button {
    border: 0;
    border-radius: 4px;
    color: #f6f7ff;
    background: #405aff;
    padding: 0;
    margin: 0 2px;
    padding: 6px 12px;
    font: normal normal 12px/14px "Work Sans", sans-serif;
}

#schedule_box {
    flex-grow: 1;
    overflow: auto;
}

#timeline {
    min-width: fit-content;
    padding: 30px 20px;
}

#timestamps {
    display: table;
    margin: 0 auto;
    white-space: nowrap;
    padding-left: 130px;
}

#timestamps span {
    width: 40px;
    color: #717383;
    display: inline-block;
    text-align: center;
    font: normal normal 12px/18px "Work Sans", sans-serif;
}

#timestamps span.fullhour {
    color: #aeb0be;
}

#timeline_canvas {
    display: table;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

#timeline_canvas .head_row {
    height: 14px;
    white-space: nowrap;
}

#timeline_canvas .row {
    height: 60px;
    white-space: nowrap;
}

#timeline_canvas .head_trainer {
    width: 129px;
    height: 13px;
    vertical-align: top;
    display: inline flow-root;
    border-right: 1px solid #333445;
    border-bottom: 1px solid #333445;
}

#timeline_canvas .head_cell {
    width: 39px;
    height: 13px;
    vertical-align: top;
    display: inline flow-root;
    border-right: 1px solid #333445;
    border-bottom: 1px solid #333445;
}

#timeline_canvas .trainer_name {
    width: 113px;
    color: #aeb0be;
    text-align: left;
    vertical-align: top;
    padding: 22px 0 22px 16px;
    display: inline flow-root;
    border-right: 1px solid #333445;
    border-bottom: 1px solid #333445;
    font: normal normal 13px/15px "Work Sans", sans-serif;
}

#timeline_canvas .cell {
    width: 39px;
    height: 59px;
    vertical-align: top;
    display: inline flow-root;
    border-right: 1px solid #333445;
    border-bottom: 1px solid #333445;
}

.time_helper {
    height: 53px;
    display: none;
    border: 1px solid rgba(64, 90, 255, 0.7);
    position: absolute;
    border-radius: 6px;
    background: rgba(64, 90, 255, 0.3);
}

.timeslot {
    width: 80px;
    height: 49px;
    color: #1c1d27;
    background: #272936;
    border: 1px solid #717383;
    border-radius: 4px;
    position: absolute;
    touch-action: none;
    top: 17px;
    left: 101px;
}

.timeslot.collision {
    border-color: red;
}

.timeslot:hover {
    cursor: move;
}

.timeslot .fixed {
    color: #717383;
    text-align: center;
    padding: 17px 0 18px 0;
    font: normal normal 11px/13px "Work Sans", sans-serif;
}

.timeslot .name {
    color: #aeb0be;
    text-align: center;
    padding: 2px 0 0 0;
    font: normal normal 11px/13px "Work Sans", sans-serif;
}

.timeslot .soloname {
    color: #aeb0be;
    text-align: center;
    padding: 9px 0 8px 0;
    font: normal normal 11px/13px "Work Sans", sans-serif;
}

.timeslot .label {
    color: #717383;
    text-align: center;
    padding: 0 0 2px 0;
    font: normal normal 11px/13px "Work Sans", sans-serif;
}

.timeslot .equipment {
    text-align: center;
    border-radius: 0 0 2px 2px;
    margin: 0 1px 1px 1px;
    font: normal normal 11px/13px "Work Sans", sans-serif;
    padding: 2px 0 3px 0;
}
